/* background video part */
.back-video{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('game.bg.mp4')no-repeat center center/cover ;
    height:auto;
    width: 100%;
    z-index: -1;
    opacity: 2.8;
    background-size: 100%;
}
@media(max-width:800px){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-width:800px){
    .back-video{
        width: auto;
        height: 100%;
    }
}
/* logo part */
.vedio{
    height: 130px;
    width: 130px;;
    position: absolute;
    bottom: 15px;
    right: 12px;
    cursor: pointer;
}
/* auto text part */
.auto-text {
    margin-top: 10%;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 0px;
    color: rgb(253, 228, 87);
    text-align: center;
    text-shadow : 0 0 10px rgb(16, 13, 2);
    cursor: pointer;
    
}

.auto-text:hover {
    color: rgb(251, 84, 84);
    text-shadow : 0 0 10px rgb(8, 7, 7);
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 30px;
    text-align: right;
    text-decoration: none;
    border-radius: 50%;
    align-items: center;
  }
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 2.8;
    color: red;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-linkedin {
    background: #ffffff;
    color: rgb(255, 255, 255);
    background: transparent;
  }
  
  /* Twitter */
  .fa-github {
    background: #fcfeff;
    color: rgb(255, 255, 255);
    background: transparent;
    
  }
 .music{
    background: transparent;
    margin: 10px;
    padding-top: 50px;
    border-radius: 50%;
    opacity: 30%;
    border-radius: 50px;
    
}
