.reset-btn {
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(44, 135, 255);
    color: white;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    display: block;
    font-family: 'Fredoka One', sans-serif ;
    text-decoration: none;
    padding:  8px 25px;
    transition: all .5s ease;
    cursor: pointer;
}
.reset-btn:hover {
    background-color: rgb(255, 70, 37);
    color: rgb(251, 245, 245);
    box-shadow: 0 0 10px rgb(6, 5, 5);
}